<h1>What is Proident?</h1>

<img src="/images/aboutlogo.jpg"/>

<p>Proident is the latest "ask me anything" type platform. Designer specificially for software developers, seasoned and aspiring alike. The best place to go to ask questions when you're stuck, propose ideas, and get feedback. We have an open minded philosophy and we offer a comfortable environment for everybody to be themselves with no fear of judgements. If you're new to the developing world, you'll feel right at home here.</p>

<p>We have a strong passion for knowledge here. Everybody wants to learn and sometimes the best way to learn is to ask for help. You'll find plenty of likeminded individuals who are either running into the same issues and can offer a brainstorming session, or they have already gone through the problem and have the perfect answer just for you! Proident is a fantastic place to build relationships with fellow developers. Feel free to reach out to me if you have any questions or concerns.</p>
