<header>
  <div class="nav">
    <ul>
      <li class="home">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="about">{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>
</header>
<div class="well">
  <p id="headerTitle">Proident</p>
</div>
<div class="container">
  {{outlet}}
</div>
<footer>
  <div class="copyright">
    <p>© 2017 - Steven Galvin</p>
  </div>
  <div class="social">
    <a href="/contact" class="support">Contact Us</a>
    <a href="https://www.facebook.com/Steven.Galvin.290" class="face" target="_blank">f</a>
    <a href="https://twitter.com/stvnglvn" class="tweet" target="_blank">t</a>
    <a href="https://www.instagram.com/stvnglvn/" class="insta" target="_blank">i</a>
  </div>
</footer>
