<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="info">
      <h1>Contact Info</h1>
      <p>Steven Galvin</p>
      <p>2961 SE 246th Ave</p>
      <p>Gresham, OR 97030</p>
      <p>Phone: 541-313-3130</p>
      <p>Email: steven.john.galvin@gmail.com</p>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
