<div class="row">
  <div class="col-md-8">
    <h2> Welcome to Proident! </h2>

    Check out the questions below, or ask your own!
    <hr>
    {{#each model as |question|}}
      <h4>{{question.title}}</h4> <small>by {{question.author}}</small>
      <hr>
    {{/each}}
  </div>
  <div class="col-md-4" id="newQuestion">
  </div>
</div>
